.strip {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    .asset {
        width: 100%;
        display: flex;
        background-color: var(--asset-background-overlay);
        flex-direction: column;
        flex: 0 1 20rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: none;
        border: none;
        outline: none;
        outline-offset: 0;
        transition: background 0.25s var(--smooth-transition-function),
        transform 0.25s var(--smooth-transition-function),
        backdrop-filter 0.25s var(--smooth-transition-function);

        &:hover {
            transform: scale(1.05);
            background: var(--color-overlay);
        }

        &.job {
            border: 1px solid var(--asset-background-overlay-hover);
            border-radius: 0.5rem;
            opacity: 0.8;
            padding: 1.85rem;
            transition: background 0.25s var(--smooth-transition-function),
            transform 0.25s var(--smooth-transition-function),
            backdrop-filter 0.25s var(--smooth-transition-function),
            opacity 0.5s var(--smooth-transition-function),
            0.25s border-color ease-in-out;

            &:hover {
                background-color: var(--asset-background-overlay-hover);
                opacity: 1;
            }

            img {
                object-fit: contain;
                width: inherit;
                height: inherit;
            }

            .title {
                color: var(--color-text-primary);
                font-size: 3rem;
                text-align: center;
                font-weight: 800;
            }
        }

    }
}

@media (width >= 440px) {
    .strip {
        .asset {
            &.job {
                padding: 3rem;
            }
        }
    }
}