.button {
    display: inline-flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background: hsla(var(--color-background-neutral-values), 0.8);
    text-decoration: none;

    color: var(--color-background-dark);
    font-family: 'REM Variable', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background 0.25s var(--smooth-transition-function),transform 0.25s var(--smooth-transition-function);

    &:hover {
        transform: scale(1.05);
        background: hsla(var(--color-background-neutral-values), 1);
    }

    &.default {
        border-radius: 0.25rem;
        background: var(--color-background-neutral);
    }

    &.cta {
        font-size: var(--button-cta-font-size);
        background: hsla(var(--color-accent-primary-values),0.8);

        &:hover {
            background: hsla(var(--color-accent-primary-values), 1);
        }
    }

    &.round {
        color: var(--color-background-dark);
        display: inline-flex;
        padding: 1rem;
        align-items: center;
        gap: 0.75rem;

        border-radius: 50px;

        .icon-left {
            display: inline-flex;
            width: 32px;
            height: 32px;
            overflow: hidden;

            svg {
                transition: flex 0.5s var(--smooth-transition-function), opacity 0.5s var(--smooth-transition-function);
                opacity: 1;
            }

            svg:first-child {
                flex-shrink: 0;
            }
        }

        &.playing, &.muted {
            .icon-left {
                svg:first-child {
                    flex-shrink: 1;
                    opacity: 0;
                }

                svg:last-child {
                    flex-shrink: 0;
                    opacity: 1;
                }
            }
        }
    }

    &.disabled {
        border-radius: 0.25rem;
        background: var(--color-text-muted);
    }
}