.carousel-container {
    .carousel {
        max-width: 100%;

        .strip {
            display: flex;
            flex-direction: var(--carousel-strip-flex-direction);
            gap: 1rem;

            .asset-link {
                text-decoration: none;
                display: inline-flex;
            }

            .asset {
                display: flex;
                background-color: hsla(var(--color-background-cinema-values) / 33%);
                flex-direction: var(--carousel-experience-flex-direction);
                border-radius: 0.5rem;
                transition: background 0.25s var(--smooth-transition-function),
                transform 0.25s var(--smooth-transition-function),
                backdrop-filter 0.25s var(--smooth-transition-function);
                gap: 0.5rem;
                align-items: center;
                border: 1px solid var(--asset-background-overlay-hover);
                padding: var(--experience-asset-padding);

                &:hover {
                    transform: scale(1.015);
                    background: hsla(var(--color-background-cinema-values) / 95%);
                }

                &.selected {
                    background: var(--color-overlay);
                }

                &.job {
                    .company-info {
                        display: flex;
                        width: 11.375rem;
                        padding: 10px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex-shrink: 0;
                        align-self: var(--company-info-align-self);

                        .title {
                            font-family: 'Aldrich', sans-serif;
                            font-size: 2rem;
                            text-align: center;
                            font-weight: 800;
                            line-height: 2rem;
                            color: var(--color-text-primary);
                        }

                        img {
                            object-fit: contain;
                            width: inherit;
                            height: inherit;
                        }
                    }

                    .metadata {
                        display: flex;
                        flex-direction: column;
                        text-align: var(--asset-metadata-text-align);
                        font-size: inherit;
                        padding: var(--experience-asset-metadata-padding);

                        h2 {
                            max-width: 25rem;
                            font-family: 'REM Variable', sans-serif;
                            color: var(--color-text-secondary);
                            font-size: var(--metadata-h2);
                            line-height: var(--metadata-h2-lineheight);
                            font-style: normal;
                            font-weight: 400;
                            gap: 0.5rem;
                        }

                        .description {
                            color: var(--color-text-paragraph);
                            text-shadow: 2px 2px 0.2rem var(--color-background-dark);
                            max-width: 80ch;
                            text-wrap: balance;
                            font-size: var(--experience-asset-description-font-size);
                            font-style: normal;
                            font-weight: 400;
                            font-family: 'B612', sans-serif;
                            margin: 0.5rem 0 0.5rem 0;

                            /*clamp*/
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: var(--asset-metadata-clamp);
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .tag {
                            align-self: var(--asset-metadata-tag-align-self);
                        }

                        .button {
                            align-self: flex-start;
                        }
                    }
                }

            }
        }
    }
}
