footer {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-end;
    grid-row: 1;
    grid-column: 1;

    .contact {
        display: flex;
        padding: 0.625rem 1rem;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 0.625rem;
        flex-wrap: wrap;
        opacity: 0;
        animation: reveal 1s var(--smooth-transition-function) forwards;

        color: var(--color-text-secondary);
        border-radius: 50px;
        border: 1px solid var(--color-border);
        background: var(--color-overlay);
        backdrop-filter: blur(12px);

        .button {
            border: none;
            background: none;
            width: 32px;
            height: 32px;
            color: var(--color-text-paragraph);
            overflow: hidden;
            transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

            &:hover {
                transform: scale(1.1);
                color: var(--color-accent-secondary);
            }

            &.opened {
                svg:first-child {
                    display: none;
                }
            }
        }
    }
}