footer {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-end;

    .contact {
        display: flex;
        padding: 0.625rem 1rem;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 0.625rem;
        flex-wrap: wrap;

        color: var(--color-text-secondary);
        border-radius: 50px;
        border: 1px solid var(--color-border);
        background: var(--color-overlay);
        backdrop-filter: blur(12px);

        .button {
            border: none;
            background: none;
            width: 32px;
            height: 32px;
            color: var(--color-text-paragraph);
            transition: transform 0.2s var(--smooth-transition-function);

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}