.metadata {
    display: flex;
    width: 100%;
    padding: 1.625rem;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    transition: opacity 1s var(--smooth-transition-function);

    &.loading {
        opacity: 0;
    }

    &.loaded {
        opacity: 1;
        animation: slide-in-from-right-5 0.5s ease-in-out forwards;
    }

    h1 {
        font-size: 5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 4rem;
    }
    h3 {
        font-family: 'REM Variable', sans-serif;
        color: var(--color-text-secondary);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2rem;
    }
    .tags {
        display: flex;
        padding: 0.25rem 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0.25rem;
        align-self: stretch;
        flex-wrap: wrap;
        font-weight: 500;
    }
    p {
        color: var(--color-text-paragraph);
        max-width: 80ch;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'B612', sans-serif;
        padding: 0.5rem 0;
    }
    .buttons {
        display: flex;
        padding: 0.5rem 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0.75rem;
        align-self: stretch;
        flex-wrap: wrap;

        .button {
            &:hover {
                background-color: var(--color-text-secondary);
            }
        }

        .playback-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;

            .button {
                transition-duration: 0.5s;

                &:first-child {
                    flex-shrink: 0;
                    z-index: 1;
                }

                &:last-child {
                    animation: fade-out 0.5s var(--smooth-transition-function) forwards;
                    flex-shrink: 1;
                    width: 0;
                    height: 0;
                    padding: 0;
                    transform: translateX(-100%);
                }

                &.visible {
                    animation: fade-in 0.5s var(--smooth-transition-function) forwards;
                    transform: translateX(0);
                }
            }
        }
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (width >= 576px) {
    .metadata {
        align-items: flex-start;
        padding: 0 4rem;

        h1 {
            font-size: 6rem;
            line-height: 4.8rem;
        }

        h3 {
            font-size: 1.86rem;
            line-height: 1.86rem;
        }

        .tags {
            justify-content: flex-start;
        }

        p {
            text-align: left;
            font-size: 1.25rem;
        }

        .buttons {
            justify-content: flex-start;
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (width <= 768px) { }

/* Large devices (desktops, 992px and up) */
@media (width >= 992px) {
    .metadata {
        padding: 0 6rem;

        .tags {
            font-size: 1rem;
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (width >= 1200px) {
    .metadata {
        padding: 0 8rem;
    }
}

@media (width >= 1440px) {
    .metadata {
        padding: 0 15rem;

        h1 {
            font-size: 7rem;
            line-height: 5.8rem;
        }

        h3 {
            font-size: 2.2rem;
            line-height: 1.2rem;
        }

        .tags {
            justify-content: flex-start;
        }

        p {
            text-align: left;
            font-size: 1.5rem;
        }

        .buttons {
            justify-content: flex-start;
        }
    }
}