.metadata {
    display: flex;
    width: 100%;
    padding: 1.625rem;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    h1 {
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 5rem;
    }
    h3 {
        font-family: 'REM Variable', sans-serif;
        color: var(--color-text-secondary);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2rem;
    }
    .tags {
        display: flex;
        padding: 0.25rem 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0.25rem;
        align-self: stretch;
        flex-wrap: wrap;
    }
    p {
        color: var(--color-text-paragraph);
        max-width: 80ch;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: 'B612', sans-serif;
    }
    .buttons {
        display: flex;
        padding: 0.5rem 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0.75rem;
        align-self: stretch;
        flex-wrap: wrap;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (width >= 576px) {
    .metadata {
        align-items: flex-start;

        .tags {
            justify-content: flex-start;
        }

        p {
            text-align: left;
        }

        .buttons {
            justify-content: flex-start;
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (width <= 768px) { }

/* Large devices (desktops, 992px and up) */
@media (width <= 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (width <= 1200px) { }