:root {
    --smooth-transition-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes slide-in-from-right-10 {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-from-right-5 {
    from {
        transform: translateX(5%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}