:root {
    /* breakpoints */
    --breakpoint-xxs: 320px;
    --breakpoint-xs: 375px;
    --breakpoint-s: 425px;
    --breakpoint-m: 768px;
    --breakpoint-l: 1024px;
    --breakpoint-xl: 1440px;
    --breakpoint-xxl: 1800px;

    /* --breakpoint-xxs */
    --layout-padding-y: 1.625rem;
    --layout-padding-x: 1.625rem;
    --metadata-h1: 4rem;
    --metadata-h1-lineheight: 3.5rem;
    --metadata-logo-size: 14.85rem;
    --metadata-h2: 1.25rem;
    --metadata-h2-lineheight: 1.25rem;
    --metadata-align-items: center;
    --metadata-tags-justify-content: center;
    --metadata-tag-font-size: 0.75rem;
    --metadata-experience-tag-font-size: 0.75rem;
    --metadata-text-size: 1rem;
    --metadata-text-line-height: 1.5rem;
    --metadata-text-align: center;
    --metadata-buttons-justify-content: center;
    --metadata-links-flex-direction: column;
    --metadata-info-margin: 0;
    --metadata-info-gap: 0.5rem;
    --button-cta-font-size: 1.25rem;
    --footer-justify-content: center;
    --metadata-tooltip-x-position: translateX(-50%);
    --carousel-h3: 1.5rem;
    --carousel-experience-flex-direction: column;
    --company-info-align-self: center;
    --asset-metadata-clamp: 4;
    --asset-metadata-text-align: center;
    --experience-asset-padding: 2rem 2rem;
    --experience-asset-metadata-padding: 0rem 1.5rem;
    --experience-asset-description-font-size: 1rem;
    --asset-metadata-tag-align-self: center;
    --carousel-strip-flex-direction: column;
    --main-metadata-margin-y: 2.5rem;
    --footer-align-items: center;


    /* --breakpoint-xs */
    @media (width >= 375px) {
        --layout-padding-y: 0;
        --layout-padding-x: 2rem;
        --metadata-h1: 4rem;
        --metadata-h1-lineheight: 3.5rem;
    }

    @media (width > 400px) {
        --metadata-tooltip-x-position: translateX(-50%)
    }

    /* --breakpoint-s */
    @media (width >= 425px) {
        --layout-padding-y: 0;
        --layout-padding-x: 1.5rem;
        --metadata-h1: 5rem;
        --metadata-h1-lineheight: 4.25rem;
        --metadata-h2: 1.25rem;
        --metadata-h2-lineheight: 1.25rem;
        --metadata-logo-size: 14.85rem;
        --asset-metadata-clamp: 3;
        --metadata-info-gap: 1rem;
    }

    /* --breakpoint-m */
    @media (width >= 768px) {
        --layout-padding-y: 0;
        --layout-padding-x: 8rem;
        --metadata-h1: 5rem;
        --metadata-h1-lineheight: 4.25rem;
        --metadata-align-items: flex-start;
        --metadata-h2: 1.35rem;
        --metadata-h2-lineheight: 1.25rem;
        --metadata-tags-justify-content: flex-start;
        --metadata-text-size: 1rem;
        --metadata-experience-tag-font-size: 0.9rem;
        --metadata-text-line-height: 1.5rem;
        --metadata-text-align: left;
        --metadata-buttons-justify-content: flex-start;
        --metadata-links-flex-direction: row;
        --metadata-logo-size: 14.85rem;
        --button-cta-font-size: 1.35rem;
        --carousel-experience-flex-direction: row;
        --experience-asset-padding: 0rem 2rem 0rem 0;
        --asset-metadata-text-align: left;
        --asset-metadata-tag-align-self: flex-start;
        --experience-asset-metadata-padding: 1.5rem 0;
        --footer-align-items: flex-start;
    }

    @media (height >= 720px) {
        --main-metadata-margin-y: 5.5rem;
    }

    @media (height >= 752px) {
        --main-metadata-margin-y: 5.5rem;
    }

    @media (height >= 840px) {
        --main-metadata-margin-y: 8.5rem;
    }

    @media (height >= 980px) {
        --main-metadata-margin-y: 10.5rem;
    }

    @media (height >= 1040px) {
        --main-metadata-margin-y: 12.5rem;
    }

    @media (height >= 1300px) {
        --main-metadata-margin-y: 19rem;
    }

    /* --breakpoint-l */
    @media (width >= 1024px) {
        --layout-padding-y: 0;
        --layout-padding-x: 10rem;
        --metadata-h1: 4.5rem;
        --metadata-h1-lineheight: 4.25rem;
        --metadata-h2: 1.35rem;
        --metadata-h2-lineheight: 1.35rem;
        --metadata-tags-justify-content: flex-start;
        --metadata-text-size: 1rem;
        --metadata-experience-tag-font-size: 0.9rem;
        --metadata-tag-font-size: 0.8rem;
        --metadata-logo-size: 14.85rem;
        --company-info-align-self: stretch;
    }

    /* --breakpoint-xl */
    @media (width >= 1440px) {
        --layout-padding-y: 0;
        --metadata-h1: 5rem;
        --metadata-h1-lineheight: 4.25rem;
        --metadata-h2: 1.5rem;
        --metadata-h2-lineheight: 1.5rem;
        --metadata-tags-justify-content: flex-start;
        --metadata-tag-font-size: 0.8rem;
        --metadata-text-size: 1.25rem;
        --metadata-experience-tag-font-size: 1.15rem;
        --metadata-text-line-height: 1.875rem;
        --metadata-logo-size: 14.85rem;
        --carousel-h3: 1.9rem;
    }

    /* --breakpoint-xl */
    @media (width >= 1800px) {
        --layout-padding-y: 0;
        --layout-padding-x: 16rem;
        --metadata-h1: 6rem;
        --metadata-h1-lineheight: 5rem;
        --metadata-h2: 1.85rem;
        --metadata-h2-lineheight: 1.85rem;
        --metadata-tags-justify-content: flex-start;
        --metadata-tag-font-size: 1rem;
        --metadata-text-size: 1.35rem;
        --metadata-text-line-height: 2.025rem;
    }
}
