---
import '@styles/components/Button.css';
import DownloadIcon from "@icons/DownloadIcon.astro";

interface Props {
    type?: string;
    disabled?: boolean;
    id: string;
    ariaLabel?: string;
    href?: string;
}
const {type, disabled, id, ariaLabel}: Props = Astro.props;

const href = "https://s3.eu-north-1.amazonaws.com/froma.dev/documents/FRANK_ROMANA_FRONTEND_CV_ENG.pdf"
---
<a class={`button ${type ?? 'default'} ${disabled ? 'disabled' : ''}`}
   id={id}
   aria-label={ariaLabel}
   href={href}
   download="FRANK_ROMANA_FRONTEND_CV_ENG.pdf"
   rel="noopener noreferrer">
    <DownloadIcon/>
    <slot />
</a>