---
import Mail from "@icons/Mail.astro";

const {href, tooltipText} = Astro.props
---
<a id="mail"
   href=`mailto:${href}`
   data-email={href}
   rel="noopener noreferrer"
   class="icon-button">
    <span class="tooltip">{tooltipText}</span>
    <Mail/>
</a>

<script>
    let $mail: HTMLAnchorElement | null = null
    let $toast: HTMLSpanElement | null = null
    let timeoutId: number = 0
    const timeoutTimeMs = 5000
    document.addEventListener('astro:page-load', () => {
        $mail = document.querySelector('#mail') as HTMLAnchorElement
        $toast = document.querySelector('.toast') as HTMLDivElement
        addEventListeners()
    })

    document.addEventListener('astro:before-preparation', () => {
        if (timeoutId)
            clearTimeout(timeoutId)
        removeEventListeners()
    })

    async function onMailSelected() {
        await navigator.clipboard.writeText($mail?.dataset.email ?? '')
        $mail?.classList.add('opened')

        if($toast) {
            $toast.innerText = 'Email Copied!'
            $toast.classList.add('visible')
        }

        if (timeoutId)
            clearTimeout(timeoutId)

        timeoutId = setTimeout(() => {
            $mail?.classList.remove('opened')
            $toast?.classList.remove('visible')
        }, timeoutTimeMs)
    }

    function addEventListeners() {
        $mail?.addEventListener('click', onMailSelected)
        $mail?.addEventListener('touchend', onMailSelected,{passive: true})
    }

    function removeEventListeners() {
        $mail?.removeEventListener('click', onMailSelected)
        $mail?.removeEventListener('touchend', onMailSelected)
    }

</script>