---
import {getImageUrl} from "@services/cloud/cloud";
import ErrorLayout from "@layouts/ErrorLayout.astro";
import '@styles/components/Button.css';
import {getLangFromUrl, useTranslations} from "@i18n/utils";
const lang = getLangFromUrl(Astro.url)
const translations = useTranslations(lang)

const backgroundSrc = getImageUrl('SMPTE_Color_Bars.svg').toString()
const backToHomeHref = lang === 'es' ? '/es' : '/'
---

<ErrorLayout
        title=`Frank Romaña - ${translations('not.found.404.title')}`
        description={translations('not.found.404.description')}
        bgSrc={backgroundSrc}
        bgTitle="SMPTE Color Bars">
    <main>
        <section class="error-container">
            <div class="message-strip">
                <h1>{translations('not.found.404.message.title')}</h1>
            </div>
            <a href={backToHomeHref} class="button">{translations('not.found.404.home.button.text')}</a>
        </section>
    </main>
</ErrorLayout>

<style>
    main {
        z-index: 0;
        padding: 0;
    }
    .error-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0;
        height: 100%;
        width: 100%;

        .message-strip {
            background: var(--color-background-dark);
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 3rem;
                font-style: normal;
                font-weight: 600;
                line-height: 3rem;
                text-align: center;
                color: var(--color-text-secondary);
                width: 100%;
            }
        }
    }
</style>
