---
import Layout from '../layouts/Layout.astro';
import Tag from "../components/Tag.astro";
import Metadata from "../components/Metadata.astro";
import Button from "../components/Button.astro";
import Pdf from "../icons/Pdf.astro";
import PlayFilled from "../icons/PlayFilled.astro";
import StopFilled from "../icons/StopFilled.astro";
import Volume from "../icons/Volume.astro";
import VolumeOff from "../icons/VolumeOff.astro";
import Carousel from "../components/Carousel.astro";
import {JOBS} from "../staticpaths/jobs";

const assets = JOBS.map((job) => {
    return {
        classNames: 'job',
        href: job.href,
        logo: job.logo,
        transitionName: job.transitionName,
        alt: job.name
    }
})
---

<Layout
        title="Frank Roma単a - Software Engineering"
        description="Frank Roma単a is a software engineer with a passion for building user-friendly, accessible, and performant web applications. Focused on building innovative solutions for connected devices and applications."
        bgSrc="https://res.cloudinary.com/fromaweb/image/upload/e_grayscale/images/cthefogvyyi6z9ulvqad.jpg"
        bgTitle="Frank Roma単a - Software Engineering">
    <main>
        <Metadata>
            <h1>Frank<br/>Roma単a</h1>
            <h3>WEB DEVELOPER / SPAIN</h3>
            <p>
                10 years of experience collaborating to drive innovation in Connected TV web applications. Strong
                ability to take ownership of projects in dynamic environments, anticipating challenges to ensure
                exceptional user experiences and exceed customer expectations.
            </p>
            <div class="tags">
                <Tag text="SmartTV"/>
                <Tag text="OTT"/>
                <Tag text="IPTV"/>
                <Tag text="Video Streaming"/>
                <Tag text="Frontend"/>
            </div>
            <div class="buttons">
                <Button text="Download CV" type="cta" id="download-cv">
                    <Pdf/>
                </Button>
                <div class="playback-controls">
                    <Button text="" type="round" id="play-stop-button">
                        <div class="icon-left">
                            <PlayFilled/>
                            <StopFilled/>
                        </div>
                    </Button>
                    <Button text="" type="round" id="volume-on-off-button">
                        <div class="icon-left">
                            <Volume/>
                            <VolumeOff/>
                        </div>
                    </Button>
                </div>
            </div>
        </Metadata>
        <Carousel assets={assets}/>
    </main>
</Layout>

<script>
    import {playStopVideo} from "@scripts/backgroundManager";
    import {toggleMute} from "@scripts/videoManager";

    document.addEventListener('astro:page-load', () => {
        const $metadata = document.querySelector('.metadata')
        const showMetadata = () => {
            $metadata?.classList.remove('loading')
            $metadata?.classList.add('loaded')
        }

        if ($metadata) {
            const $playStopButton = $metadata.querySelector('#play-stop-button') as HTMLButtonElement;
            const $volumeOnOffButton = $metadata.querySelector('#volume-on-off-button') as HTMLButtonElement;
            showMetadata()

            $playStopButton?.addEventListener('click', () => {
                $playStopButton.classList.toggle('playing')
                $volumeOnOffButton.classList.toggle('visible')
                playStopVideo()
            })
            $volumeOnOffButton?.addEventListener('click', () => {
                $volumeOnOffButton.classList.toggle('muted')
                toggleMute()
            })
            document.addEventListener('playback-ended', () => {
                $playStopButton.classList.toggle('playing')
                $volumeOnOffButton.classList.toggle('visible')
            })
        }
    })
</script>

<style>
    main {
        width: 100%;
        height: 100%;
        grid-row: 1;
        grid-column: 1;

        padding: 1.625rem;
    }

    @media (width >= 576px) {
        main {
            padding: 0 4rem;
        }
    }

    @media (width >= 992px) {
        main {
            padding: 0 6rem;
        }
    }

    @media (width >= 1200px) {
        main {
            padding: 0 8rem;
        }
    }

    @media (width >= 1440px) {
        main {
            padding: 0 15rem;
        }
    }
</style>
