---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Frank Romaña - Software Engineering"
	description="Frank Romaña is a software engineer with a passion for building user-friendly, accessible, and performant web applications. Focused on building innovative solutions for connected devices and applications.">
	<main>
		<h1>Frank<br/>
			Romaña</h1>
	</main>
</Layout>

<style>

</style>
