---
import Video from "./Video.astro";
const {src, alt} = Astro.props;
---
<div class="background">
    <Video/>
    <img src={src} alt={alt} class="background-image loading" aspect-ratio="3000/2000"/>
    <div class="background-overlay"/>
</div>

<script>
    import {setupBackground} from "@scripts/backgroundManager";

    document.addEventListener('astro:page-load', () => {
        setupBackground()
    })
</script>

<style>
    .background {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 100dvh;
        position: fixed;

        .background-image {
            object-fit: cover;
            width: inherit;
            height: inherit;
            grid-row: 1;
            grid-column: 1;
            transition: opacity 1.5s var(--smooth-transition-function);
            z-index: 0;

            &.loading {
                opacity: 0;
            }

            &.loaded {
                opacity: 1;
            }
        }

        .background-overlay {
            background: linear-gradient(79deg, rgba(0, 0, 0, 0.91) 32.55%, rgba(1, 1, 1, 0.91) 37.88%, rgba(3, 3, 3, 0.90) 43.21%, rgba(6, 6, 6, 0.88) 48.54%, rgba(10, 10, 11, 0.86) 53.87%, rgba(15, 15, 17, 0.83) 59.2%, rgba(21, 21, 25, 0.80) 64.53%, rgba(26, 26, 33, 0.77) 69.86%, rgba(32, 32, 42, 0.73) 75.2%, rgba(37, 37, 51, 0.69) 80.53%, rgba(41, 41, 61, 0.66) 85.86%, rgba(45, 45, 70, 0.63) 91.19%, rgba(48, 48, 78, 0.60) 96.52%, rgba(50, 50, 84, 0.58) 101.85%, rgba(52, 52, 90, 0.56) 107.18%, rgba(53, 53, 93, 0.55) 112.51%, rgba(53, 53, 94, 0.55) 117.84%);
            grid-row: 1;
            grid-column: 1;
            transition: opacity 1s var(--smooth-transition-function);
            z-index: 0;
        }
    }
</style>