---
import '@styles/components/Button.css';
interface Props {
    type: string;
    text: string;
    disabled?: boolean;
    id: string;
    ariaLabel?: string;
}
const {type, text, disabled, id, ariaLabel}: Props = Astro.props;
---
<button class={`button ${type} ${disabled ? 'disabled' : ''}`} id={id} aria-label={ariaLabel}>
    <slot/>
    {text}
</button>