---
import '@styles/components/Footer.css';
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";
import Github from "../icons/Github.astro";
---

<footer>
    <div class="contact">
        <button class="button">
            <Linkedin/>
        </button>
        <button class="button">
            <Mail/>
        </button>
        <button class="button">
            <Github/>
        </button>
    </div>
</footer>