---
import '@styles/components/Footer.css';
import '@styles/components/Tooltip.css';
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";
import Github from "../icons/Github.astro";
import MailOpened from "../icons/MailOpened.astro";

const emailLink = 'contact@froma.dev'
const githubLink = 'https://github.com/froma-dev'
const linkedinLink = 'https://www.linkedin.com/in/frankromana'
---

<footer>
    <div class="contact">
        <span class="tooltip">Email copied</span>
        <a id="linkedin"
           href={linkedinLink}
           target="_blank"
           rel="noopener noreferrer"
           class="button">
            <Linkedin/>
        </a>
        <a id="mail"
           href=`mailto:${emailLink}`
           data-email={emailLink}
           rel="noopener noreferrer"
           class="button">
            <Mail/>
            <MailOpened/>
        </a>
        <a id="github"
           href={githubLink}
           target="_blank"
           rel="noopener noreferrer"
           class="button">
            <Github/>
        </a>
    </div>
</footer>

<script>
    const $mail = document.querySelector('#mail') as HTMLAnchorElement
    const $tooltip = document.querySelector('.tooltip') as HTMLSpanElement
    let timeoutId: number = 0

    $mail?.addEventListener('click', () => onMailSelected())
    $mail?.addEventListener('touchend',
        () => onMailSelected(),
        {passive: true}
    )

    async function onMailSelected() {
        await navigator.clipboard.writeText($mail.dataset.email ?? '')
        $mail.classList.add('opened')
        $tooltip.classList.add('visible')

        if (timeoutId)
            clearTimeout(timeoutId)

        timeoutId = setTimeout(() => {
            $mail.classList.remove('opened')
            $tooltip.classList.remove('visible')
        }, 2000)
    }
</script>