---
import '@styles/components/Footer.css';
import '@styles/components/Tooltip.css';
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import EmailLink from "./EmailLink.astro";

const emailLink = 'contact@froma.dev'
const githubLink = 'https://github.com/froma-dev'
const linkedinLink = 'https://www.linkedin.com/in/frankromana'
---

<footer>
    <div class="contact">
        <span class="tooltip">Email copied</span>
        <a id="linkedin"
           href={linkedinLink}
           target="_blank"
           rel="noopener noreferrer"
           class="icon-button">
            <Linkedin/>
        </a>
        <EmailLink emailLink={emailLink}/>
        <a id="github"
           href={githubLink}
           target="_blank"
           rel="noopener noreferrer"
           class="icon-button">
            <Github/>
        </a>
    </div>
</footer>